#ignore these files
/fw/firmware.bin
/fw/firmware.elf
/fw/firmware.hex
/fw/firmware.map
/fw/*.o
/build/*.vvp
/build/*.vcd
/build/*.trace
/build/testbench_verilator*
/doc/.*

/fw/main/*.bin
/fw/main/*.elf
/fw/main/*.hex
/fw/main/np_*.lds