#ignore these files
/fw/firmware.bin
/fw/firmware.elf
/fw/firmware.hex
/fw/firmware.map
/fw/*.o
/build/*.vvp
/build/*.vcd
/build/*.trace
/build/testbench_verilator*
/doc/.*

#Main code build
/fw/main/*.bin
/fw/main/*.elf
/fw/main/*.hex
/fw/main/np_*.lds
/hw/tb/top/*.vvp
/hw/tb/top/*.vcd
/hw/tb/top/np_top_tb_verilator*
/hw/tb/top/tb_verilator*
